<div class="">
  <app-nav></app-nav>

  <div class="px-3 pt-3 pb-3" style="background-color: rgb(33, 37, 41)">
    <div class="row">
      <div class="col-md-1">
        <img [src]=profileimage alt="Foto de Perfil" class="img-fluid rounded-circle">
      </div>
      <div style="color: aliceblue;" class="col-md-9">
        <h2>{{username}}</h2>
        <p> {{numimages}} Imagenes &nbsp; {{numfollowers}} Seguidores &nbsp; {{numfollow}} Siguiendo</p>
      </div>
      <div *ngIf="profile" style="background-color: rgb(33, 37, 41);"  class="col-md-2">
        <span *ngIf="!follow" class="input-group-text" style="justify-content: center;">Seguir</span>
        <span *ngIf="follow" class="input-group-text" style="justify-content: center;">Dejar de seguir</span>
      </div>
      <div *ngIf="!profile" class="form-check form-switch col-md-2">
        <label class="form-check-label" style="color: aliceblue;" for="flexSwitchCheckDefault">Perfil público ?</label>
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
      </div>
    </div>
  </div>

  <div class="row m-0">
    <div class="col-md-9 m-0">
      <div *ngIf="pag==0" class="container py-2" style="min-height: 100vh;">
        <div class="row" *ngIf="archivos && archivos.length > 0">
          <div class="col-md-6 pb-4" *ngFor="let archivo of archivos">
            <div class="container mt-3">
              <div class="card" style="background-color: rgb(33, 37, 41); border-radius:20px; position: relative;">
                <h5 class="card-title m-0 ps-3 p-2" style="color: aliceblue;"><strong>{{archivo.nombre.split('.')[0]}}</strong></h5>
                <button type="button" class="btn-close"  aria-label="Close" style="background-color: aliceblue; position: absolute; top: 0; right: 0; z-index: 100;" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal"></button>
                <div class="row no-gutters">
                    <div *ngIf="archivo.tipo=='jpg' || archivo.tipo=='png'" class="col-md-2" style="width: auto;">
                      <img [src]="archivo.url" class="card-img" alt="...">
                    </div>
                    <video *ngIf="archivo.tipo=='mp4'" width="600" height="400" controls>
                      <source [src]="archivo.url" type="video/mp4">
                      Tu navegador no soporta el elemento de video.
                    </video>
                    <audio *ngIf="archivo.tipo=='mp3'" controls>
                      <source [src]="archivo.url" type="audio/mp3">
                      Tu navegador no soporta el elemento de audio.
                    </audio>
                    <iframe *ngIf="archivo.tipo=='pdf'" type="application/pdf" [src]="archivo.url"></iframe>
                  <div class="">
                    <div class="card-body">
                      <div class="d-flex pt-1">
                        <p class="card-text mb-0 me-2 pt-1" style="color: aliceblue;">{{megusta}} Me gusta </p>
                        <span class="input-group-text me-2 py-0 my-0" style="justify-content: center;">Me gusta</span>
                        <span class="input-group-text py-0 my-0" style="justify-content: center;" data-bs-target="#confirmDeleteModal2" data-bs-toggle="modal">Compartir</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="!archivos || archivos.length === 0" style="color: white;">
        </div>
      </div>
    </div>
    <div class="col-md-3" style="background-color: rgb(194, 194, 194)">
      <h2 class="mt-2">Solicitudes</h2>
      <ul class="list-group" *ngFor="let item of solicitudes">
        <li class="list-group-item d-flex justify-content-between align-items-center mt-2" style="background-color: rgb(33, 37, 41); color: aliceblue;">
           {{item}}
          <div>
            <button type="button" style="background-color: white; color: rgb(33, 37, 41);" class="btn mr-2">Aceptar</button>
            <button type="button" style="background-color: white; color: rgb(33, 37, 41);" class="btn mr-2 ms-3">Rechazar</button>
          </div>
        </li>
      </ul>
    </div>
  </div>


    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Eliminación</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  ¿Estás seguro de que deseas eliminar este archivo?
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancelar</button>
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="eliminar(id)">Eliminar</button>
              </div>
          </div>
      </div>
  </div>

  <div class="modal fade" id="confirmDeleteModal2" tabindex="-1" aria-labelledby="confirmDeleteModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="confirmDeleteModalLabel2">Compartir archivo</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <p>¿Con qué usuario desea compartir el archivo?</p>
              <form [formGroup]="shareForm">
                <div class="form-group">
                  <select formControlName="username" class="form-control" id="username" placeholder="Nombre de usuario">
                    <option *ngFor="let option of options" [value]="option">{{ option }}</option>
                  </select>
                  <div *ngIf="shareForm.get('username')?.invalid && (shareForm.get('username')?.dirty || shareForm.get('username')?.touched)" class="text-danger">
                    <div *ngIf="shareForm.get('username')?.errors?.['required']">
                      Nombre de usuario requerido.
                    </div>
                  </div>
                </div>
              </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="compartir(id)">Enviar</button>
          </div>
        </div>
    </div>
</div>

<div *ngIf="Okdeleteall" class="top-0 left-0 p-3" style="position: fixed;">
  <div role="alert" class="toast show align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body">Eliminado correctamente</div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
</div>

<div *ngIf="Noupload" class="top-0 left-0 p-3" style="position: fixed;">
  <div role="alert" class="toast show align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body">Error al subir el archivo</div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
</div>

<div *ngIf="Okupload" class="top-0 left-0 p-3" style="position: fixed;">
  <div role="alert" class="toast show align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body">Archivo subido correctamente</div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
</div>

<div *ngIf="NoNoupload" class="top-0 left-0 p-3" style="position: fixed;">
  <div role="alert" class="toast show align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body">No puedes subir un archivo con el mismo nombre</div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
</div>

</div>
