<div class="">
  <app-nav></app-nav>

  <div class="container mt-5">
    <h2>Solicitudes</h2>
    <ul class="list-group">
      <!-- Primer usuario -->
      <li class="list-group-item d-flex justify-content-between align-items-center" style="background-color: rgb(33, 37, 41); border-radius:20px; color: aliceblue;">
        <p>Davidsaav</p>
        <p>15 Seguidores / 5 Publicaciones</p>
        <div>
          <button type="button" style="background-color: aliceblue; color: rgb(33, 37, 41);" class="btn mr-2">Aceptar</button>
          <button type="button" style="background-color: aliceblue; color: rgb(33, 37, 41);" class="btn mr-2 ms-3">Rechazar</button>
        </div>
      </li>
    </ul>
  </div>

</div>
