<div class="">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="d-flex">
      <img class="" width="60px" height="60px" src="https://media.istockphoto.com/id/936681148/es/vector/lock-icono-de.jpg?s=612x612&w=0&k=20&c=s4_wlpTBhoCaw-B4dGMLeMmls0zAFO8QuaBnomvpPzw=" alt="Candado">
      <h1 class="ps-1 pt-1" href="#">Secure Drive</h1>
    </div>
    <div>
      <li class="nav-item container custom-container d-flex align-items-center">
        <div class="btn-group" role="group" aria-label="Button group with three buttons">
          <button (click)="pag=0" type="button" class="btn btn-outline-dark" [ngClass]="{'texto-negrita': pag === 0}" style="background-color: white; color: black; border-color: black;">Mis archivos</button>
          <button (click)="pag=1" type="button" class="btn btn-outline-dark" [ngClass]="{'texto-negrita': pag === 1}" style="background-color: white; color: black; border-color: black;">Compartidos por mi</button>
          <button (click)="pag=2" type="button" class="btn btn-outline-dark" [ngClass]="{'texto-negrita': pag === 2}" style="background-color: white; color: black; border-color: black;">Compartidos conmigo</button>
        </div>          
      </li>
    </div>
    <div class="collapse navbar-collapse" style="justify-content: flex-end;" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
          <li>
            <form id="miFormulario" class="d-flex">
              <label *ngIf="fileName==''" for="archivoInput" class="btn btn-dark" style="width: max-content;">
                <input type="file" id="archivoInput" style="display: none;" (change)="nombre($event)">
                Subir Archivos
              </label>
              <label *ngIf="fileName!=''" for="archivoInput1" class="btn btn-dark" style="width: max-content;">
                <button id="archivoInput1" type="file" style="display: none;"></button>
                {{ this.fileName }}
                <span class="ms-2 spinner-grow spinner-grow-sm" aria-hidden="true"></span>
              </label>
            </form>
          </li>
       
        <li class="nav-item container custom-container d-flex align-items-center">
          <span class="navbar-text px-3">{{this.username}}</span>
        </li>
        <li class="nav-item">
          <button routerLink="/login" (click)="logout()" class="btn btn-outline-danger border border-white me-3 my-2 my-sm-0" type="submit"><span class="inline-span">Logout</span></button>
        </li>
      </ul>
    </div>
  </nav>

  <div *ngIf="pag==0" class="container py-2" style="height: 100vh;"><!-- TUYO -->
    <h2 class="pt-3" style="color: aliceblue;">Mis archivos</h2>

    <div class="row" *ngIf="archivos && archivos.length > 0">
      <div class="col-md-4 pb-4" *ngFor="let archivo of archivos">
          <div class="container mt-3">
            <div class="card" style="">
              <div class="row no-gutters">
                  <div *ngIf="archivo.tipo=='jpg' || archivo.tipo=='png'" class="col-md-2" style="width: auto;">
                    <img [src]="archivo.url" class="card-img" alt="...">
                  </div>
                  <video *ngIf="archivo.tipo=='mp4'" width="600" height="400" controls>
                    <source [src]="archivo.url" type="video/mp4">
                    Tu navegador no soporta el elemento de video.
                  </video>
                  <audio *ngIf="archivo.tipo=='mp3'" controls>
                    <source [src]="archivo.url" type="audio/mp3">
                    Tu navegador no soporta el elemento de audio.
                  </audio>
                  <iframe *ngIf="archivo.tipo=='pdf'" type="application/pdf" [src]="archivo.url"></iframe>
                <div class="">
                  <div class="card-body">
                  <h5 class="card-title m-0 mb-1"><strong>{{archivo.nombre.split('.')[0]}}</strong></h5>
                  <p class="card-text">Archivo {{archivo.tipo}} de {{archivo.tamano/1024}} Kb</p>
                  <button class="btn btn-dark me-3"  (click)="descargar(archivo.nombre)">Descargar</button>
                  <button class="btn btn-primary me-3" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal2" (click)="id= archivo.nombre">Compartir</button>
                  <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" (click)="id= archivo.nombre">Eliminar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div *ngIf="!archivos || archivos.length === 0" style="color: white;">
      No se encontraron archivos.
    </div>
  </div>

  <div *ngIf="pag==1" class="container py-2" style="height: 100vh;"><!-- por mi -->
    <h2 class="pt-3" style="color: aliceblue;">Compartido por mi</h2>

    <div class="row" *ngIf="archivos2 && archivos2.length > 0">
      <div class="col-md-4 pb-4" *ngFor="let archivo of archivos2">
          <div class="container mt-3">
            <div class="card" style="">
              <div class="row no-gutters">
                  <div *ngIf="archivo.tipo=='jpg' || archivo.tipo=='png'" class="col-md-2" style="width: auto;">
                    <img [src]="archivo.url" class="card-img" alt="...">
                  </div>
                  <video *ngIf="archivo.tipo=='mp4'" width="600" height="400" controls>
                    <source [src]="archivo.url" type="video/mp4">
                    Tu navegador no soporta el elemento de video.
                  </video>
                  <audio *ngIf="archivo.tipo=='mp3'" controls>
                    <source [src]="archivo.url" type="audio/mp3">
                    Tu navegador no soporta el elemento de audio.
                  </audio>
                  <iframe *ngIf="archivo.tipo=='pdf'" type="application/pdf" [src]="archivo.url"></iframe>
                <div class="">
                  <div class="card-body">
                  <h5 class="card-title m-0 mb-1"><strong>{{archivo.nombre.split('.')[0]}}</strong></h5>
                  <p class="card-text">Archivo {{archivo.tipo}} de {{archivo.tamano/1024}} Kb</p>
                  <button class="btn btn-dark me-3"  (click)="descargar(archivo.nombre)">Descargar</button>
                  <button class="btn btn-danger ms-3" (click)="shoShare(archivo.id)">Dejar de compartir</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div *ngIf="!archivos || archivos.length === 0" style="color: white;">
      No se encontraron archivos.
    </div>
  </div>

  
  <div *ngIf="pag==2" class="container py-2" style="height: 100vh;"><!-- conmigo  -->
    <h2 class="pt-3" style="color: aliceblue;">Compartido conmigo</h2>

    <div class="row" *ngIf="archivos2 && archivos2.length > 0">
      <div class="col-md-4 pb-4" *ngFor="let archivo of archivos2">
          <div class="container mt-3">
            <div class="card" style="">
              <div class="row no-gutters">
                  <div *ngIf="archivo.tipo=='jpg' || archivo.tipo=='png'" class="col-md-2" style="width: auto;">
                    <img [src]="archivo.url" class="card-img" alt="...">
                  </div>
                  <video *ngIf="archivo.tipo=='mp4'" width="600" height="400" controls>
                    <source [src]="archivo.url" type="video/mp4">
                    Tu navegador no soporta el elemento de video.
                  </video>
                  <audio *ngIf="archivo.tipo=='mp3'" controls>
                    <source [src]="archivo.url" type="audio/mp3">
                    Tu navegador no soporta el elemento de audio.
                  </audio>
                  <iframe *ngIf="archivo.tipo=='pdf'" type="application/pdf" [src]="archivo.url"></iframe>
                <div class="">
                  <div class="card-body">
                  <h5 class="card-title m-0 mb-1"><strong>{{archivo.nombre.split('.')[0]}}</strong></h5>
                  <p class="card-text mb-0">Compartido por {{archivo.user}}</p>
                  <p class="card-text">Archivo {{archivo.tipo}} de {{archivo.tamano/1024}} Kb</p>
                  <button class="btn btn-dark me-3"  (click)="descargar(archivo.nombre)">Descargar</button>
                  <button class="btn btn-danger ms-3" (click)="shoShare(archivo.id)">No me interesa</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div *ngIf="!archivos || archivos.length === 0" style="color: white;">
      No se encontraron archivos.
    </div>
  </div>

    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Eliminación</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  ¿Estás seguro de que deseas eliminar este archivo?
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancelar</button>
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="eliminar(id)">Eliminar</button>
              </div>
          </div>
      </div>
  </div>

  <div class="modal fade" id="confirmDeleteModal2" tabindex="-1" aria-labelledby="confirmDeleteModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="confirmDeleteModalLabel2">Compartir archivo</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <p>¿Con qué usuario desea compartir el archivo?</p>
              <form [formGroup]="shareForm">
                  <div class="form-group">
                      <input type="text" formControlName="username" class="form-control" id="username" placeholder="Nombre de usuario">
                      <div *ngIf="shareForm.get('username')?.invalid && (shareForm.get('username')?.dirty || shareForm.get('username')?.touched)" class="text-danger">
                        <div *ngIf="shareForm.get('username')?.errors?.['required']">
                          Nombre de usuario requerido.
                        </div>
                      </div>
                    </div>
              </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="compartir(id)">Enviar</button>
          </div>
        </div>
    </div>
</div>

<div *ngIf="Okshare" class="top-0 left-0 p-3" style="position: fixed;">
  <div role="alert" class="toast show align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body">Archivo compartido con éxito</div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
</div>

<div *ngIf="Notshare" class="top-0 left-0 p-3" style="position: fixed;">
  <div role="alert" class="toast show align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body">Error al compartir el archivo</div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
</div>

</div>
