<div class="">
  <app-nav></app-nav>

  <div class="container mt-5">
    <div class="row" style="height: 86vh">
      <div class="col-md-4">
        <!-- Lista de chats -->
        <div class="list-group">
          <a class="list-group-item list-group-item-action active">Davidsaav</a>
          <a class="list-group-item list-group-item-action">Luis</a>
          <a class="list-group-item list-group-item-action">Adam</a>
        </div>
      </div>
      <div class="col-md-8">
        <!-- Chat específico -->
        <div class="card">
          <div class="card-header" style="background-color: rgb(33, 37, 41); color: aliceblue;">
            davidsaav3
          </div>
          <div class="card-body chat-box" style="height: 60vh;">
            <!-- Mensajes del chat -->
            <div class="message">
              <strong>Usuario 1:</strong> Hola, ¿cómo estás?
            </div>
            <div class="message">
              <strong>Usuario 1:</strong> Hola, ¿cómo estás?
            </div>
            <div class="message">
              <strong>Usuario 1:</strong> Hola, ¿cómo estás?
            </div>
            <div class="message">
              <strong>Usuario 1:</strong> Hola, ¿cómo estás?
            </div>
            <div class="message">
              <strong>Usuario 1:</strong> Hola, ¿cómo estás?
            </div>
            <div class="message">
              <strong>Usuario 1:</strong> Hola, ¿cómo estás?
            </div>
            <div class="message">
              <strong>Usuario 2:</strong> ¡Hola! Estoy bien, ¿y tú?
            </div>
            <!-- Agrega más mensajes aquí -->
          </div>
          <div class="card-footer" style="background-color: rgb(33, 37, 41);">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Escribe un mensaje...">
              <div class="input-group-append">
                <span class="input-group-text"><strong>Enviar</strong></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  
</div>
