<div class="">
  <app-nav></app-nav>

  <div *ngIf="pag==0" class="fluid-container py-2" style="min-height: 100vh;">
    <div class="row" *ngIf="posts && posts.post.length > 0">
      <div class="col-md-4 pb-4" *ngFor="let archivo of posts.post">
        <div class="container mt-3">
          <div class="card" style="background-color: rgb(33, 37, 41); border-radius:20px; position: relative;">
            <div class="d-flex justify-content-between align-items-center p-2 ps-0">
              <div class="d-flex">
                <h5 class="card-title m-0 ps-3 p-2" style="color: aliceblue;"><strong>{{archivo.name.split('.')[0]}}</strong></h5>
              </div>
              <div class="d-flex">
                <p class="card-text mb-0 ms-2 me-2 pt-1 rounded px-2" style="color: aliceblue; border: 1px solid white;">{{archivo.likes}} Me gusta </p>
                <p class="card-text mb-0 pt-1 rounded ms-2 px-2 me-2" style="color: aliceblue; border: 1px solid white;" (click)="toggleDiv()">{{archivo.comments.length}} Comentarios </p>
              </div>
            </div>
            <div class="row no-gutters">
                <div class="col-md-2" style="width: auto;">
                  <img [src]="archivo.url" class="card-img" alt="...">
                </div>
                <!--<video *ngIf="archivo.tipo=='mp4'" width="600" height="400" controls>
                  <source [src]="archivo.url" type="video/mp4">
                  Tu navegador no soporta el elemento de video.
                </video>
                <audio *ngIf="archivo.tipo=='mp3'" controls>
                  <source [src]="archivo.url" type="audio/mp3">
                  Tu navegador no soporta el elemento de audio.
                </audio>
                <iframe *ngIf="archivo.tipo=='pdf'" type="application/pdf" [src]="archivo.url"></iframe>-->
              <div class="">
                <div class="card-body">
                  <div class="d-flex pt-1">
                    <button class="btn btn-secondary rounded-end enviar-btn me-3">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                      </svg>
                    </button>
                    <div class="input-group rounded">
                      <input type="text" class="form-control rounded-start" placeholder="Añade un comentario...">
                      <button class="btn btn-secondary rounded-end enviar-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                          <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"/>
                        </svg>
                      </button>
                    </div>
                    <!--<p class="btn m-0 ms-3 btn-secondary rounded-end enviar-btn" style="color: aliceblue; border: 1px solid white;">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                      </svg>
                    </p>
                    <p class="btn m-0 ms-3 btn-secondary rounded-end enviar-btn" style="color: aliceblue; border: 1px solid white;" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                      </svg>
                    </p>-->
                    <p class="btn m-0 ms-3 btn-secondary rounded-end enviar-btn" style="color: aliceblue; border: 1px solid white;">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                        <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
                      </svg>
                    </p>
                  </div>
                </div>
                <div *ngIf="mostrarDiv">
                    <div *ngFor="let archivo of archivos" >
                      <div class="p-3 pt-0">
                        <div class="card bg-white rounded">
                          <div class="card-body">
                            <p class="card-title"><strong>Luis</strong></p>
                            <p class="card-text mt-0">Este es un comentario de ejemplo.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!archivos || archivos.length === 0" style="color: white;">

    </div>
  </div>


    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Eliminación</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  ¿Estás seguro de que deseas eliminar este archivo?
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancelar</button>
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="eliminar(id)">Eliminar</button>
              </div>
          </div>
      </div>
  </div>

<div *ngIf="Okshare" class="top-0 left-0 p-3" style="position: fixed;">
  <div role="alert" class="toast show align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body">Archivo compartido con éxito</div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
</div>

<div *ngIf="Notshare" class="top-0 left-0 p-3" style="position: fixed;">
  <div role="alert" class="toast show align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body">Archivo ya compartido con ese usuarioy</div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
</div>

<div *ngIf="UserNotshare" class="top-0 left-0 p-3" style="position: fixed;">
  <div role="alert" class="toast show align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body">El nombre de usuario introducido es incorrecto</div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
</div>

<div *ngIf="Okdelete" class="top-0 left-0 p-3" style="position: fixed;">
  <div role="alert" class="toast show align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body">Eliminado de archivos compartidos</div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
</div>

<div *ngIf="Okdeleteall" class="top-0 left-0 p-3" style="position: fixed;">
  <div role="alert" class="toast show align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body">Eliminado correctamente</div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
</div>

<div *ngIf="Nodelete" class="top-0 left-0 p-3" style="position: fixed;">
  <div role="alert" class="toast show align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body">Error al eliminar de archivos compartidos</div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
</div>

<div *ngIf="Noupload" class="top-0 left-0 p-3" style="position: fixed;">
  <div role="alert" class="toast show align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body">Error al subir el archivo</div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
</div>

<div *ngIf="Okupload" class="top-0 left-0 p-3" style="position: fixed;">
  <div role="alert" class="toast show align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body">Archivo subido correctamente</div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
</div>

<div *ngIf="NoNoupload" class="top-0 left-0 p-3" style="position: fixed;">
  <div role="alert" class="toast show align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body">No puedes subir un archivo con el mismo nombre</div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
</div>

</div>
